<ion-content [fullscreen]="true" class="login-content">
  <div class="auth-wrapper">
    <div class="background-decor">
        <div class="circle circle-1"></div>
        <div class="circle circle-2"></div>
    </div>

    <div class="auth-card animate__animated animate__fadeInUp">
        <div class="brand-section">
            <div class="logo-icon">
                <ion-icon name="pulse-outline"></ion-icon>
            </div>
            <h1>ProMedical</h1>
            <p>Bienvenido de nuevo</p>
        </div>

        <form [formGroup]="loginForm" (ngSubmit)="onLogin()">
            <div class="form-group">
                <label>Correo Electrónico</label>
                <div class="input-wrapper">
                    <ion-icon name="mail-outline"></ion-icon>
                    <input
                        type="email"
                        formControlName="email"
                        placeholder="ejemplo@correo.com"
                    >
                </div>
            </div>

            <div class="form-group">
                <label>Contraseña</label>
                <div class="input-wrapper">
                    <ion-icon name="lock-closed-outline"></ion-icon>
                    <input
                        type="password"
                        formControlName="password"
                        placeholder="********"
                    >
                </div>
            </div>
            
            <div class="forgot-password">
                <a routerLink="/auth/forgot-password">¿Olvidaste tu contraseña?</a>
            </div>

            <button
                type="submit"
                class="btn-login"
                [disabled]="loginForm.invalid"
            >
                Iniciar Sesión
            </button>

        </form>
    </div>
  </div>
</ion-content>
