<ion-header>
  <ion-toolbar class="home-toolbar">
    <ion-title>Medical Clinic System</ion-title>
  </ion-toolbar>
</ion-header>

<ion-content class="home-content">

  <div class="hero-section">
    <h1>Gestión Médica Inteligente</h1>
    <p>
      Administra pacientes, turnos, seguros, historial clínico y facturación
      desde un solo lugar.
    </p>

    <ion-button
      expand="block"
      size="large"
      class="enter-button"
      (click)="goToDashboard()">
      Entrar al Sistema
    </ion-button>
  </div>

</ion-content>
